@model StatusModel
@{
    ViewData["Description"] = "Register an account";
    ViewData["Title"] = "Register";
    Layout = "Layout";
}

@if (!string.IsNullOrWhiteSpace(Model.Message)) {
    <div class="notification @(Model.Success ? "is-success" : "is-danger")">
        <button class="delete"></button>
        @Model.Message
    </div>
}

<div class="section">
    <div class="content">
        <h1>Register a new account</h1>
        <form method="POST">
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" id="username" name="username">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" id="password" name="password">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-key"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Invitation code</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" id="invite" name="invite">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-ticket"></i>
                    </span>
                </div>
            </div>

            <div class="control">
                <input type="submit" class="button is-link" value="Register"/>
            </div>
        </form>
    </div>
</div>