@model StatusModel
@{
    ViewData["Description"] = "Register an account";
    ViewData["Title"] = "Register";
    Layout = "Empty";
}

<section class="section login-container is-flex is-align-items-center is-justify-content-center">
    <div class="column is-full-mobile is-8-tablet is-5-desktop has-text-centered">
        <figure class="image is-inline-block">
            <a asp-controller="Home" asp-action="Index">
                <img src="/img/title.png" alt="Logo">
            </a>
        </figure>

        @if (!string.IsNullOrWhiteSpace(Model.Message)) {
            <div class="notification @(Model.Success ? "is-success" : "is-danger") mt-5">
                <button class="delete"></button>
                @Model.Message
            </div>
        }

        <div class="card mt-5">
            <div class="card-header">
                <span class="card-header-title is-block mt-2 mb-2">
                    <p class="title is-size-3">Register a new account</p>
                </span>
            </div>
            <div class="card-content">
                <form method="POST">
                    <div class="field">
                        <label class="label has-text-left">Username</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" name="username">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-left">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="password">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-key"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-left">Invitation code</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" name="invite">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                        <p class="help has-text-left">A member has to invite you manually for you to register</p>
                    </div>

                    <div class="control mt-5">
                        <input type="submit" class="button is-link is-fullwidth" value="Register"/>
                    </div>
                </form>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item" asp-controller="User" asp-action="Login">Login into your account</a>
                <a class="card-footer-item" href="https://sipacid.com/wits.mp4">Recover your password</a>
            </footer>
        </div>
    </div>
</section>