@{
    ViewData["Description"] = "An error has occured";
    ViewData["Title"] = "Error";
}

<section class="hero is-fullheight-with-navbar" style="background-size: contain; background: black url('https://http.cat/@Context.Response.StatusCode') no-repeat;"></section>
