@using Controller = ServerOverflow.Database.Controller
@{
    ViewData["Description"] = "Search accounts";
    ViewData["Title"] = "Accounts";
    
    // I don't expect to have a lot of accounts, so this will do
    var accounts = await Controller.Accounts.QueryAll(x => true);
}

<div class="section">
    <div class="content">
        <h2>List of all accounts</h2>
        @foreach (var account in accounts) {
            var invitee = account.Invitee != null ? await Account.Get(account.Invitee!.ToString()!) : null;
            <div class="card">
                <header class="card-header">
                    <span class="card-header-title is-block">
                        <a href="/user/profile/@account.Id">@account.Username</a>
                        <code>@account.BadgeText</code>
                    </span>
                    <button class="card-header-icon card-expand">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </header>
                <div class="card-inner" style="display: none;">
                    <div class="card-content">
                        <div class="content">
                            <p>
                                Invited by <a href="/user/profile/@(invitee?.Id.ToString() ?? "")">@(invitee?.Username ?? "Unknown")</a>, account ID: <code>@account.Id</code>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>