@using System.Text.Json
@using System.Web
@{
    ViewData["Description"] = "Statistics";
    ViewData["Title"] = "Statistics";
}

<div class="section">
    <div class="content">
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">General statistics</span>
                        </span>
                        <button class="card-header-icon">
                            <a href="/stats.json">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-lg fa-download"></i>
                                </span>
                            </a>
                        </button>
                    </header>
                    <div class="card-content">
                        <div id="general" style="min-height: 365px;"></div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Modding statistics</span>
                        </span>
                        <button class="card-header-icon">
                            <a href="/stats.json">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-lg fa-download"></i>
                                </span>
                            </a>
                        </button>
                    </header>
                    <div class="card-content">
                        <div id="modding" style="min-height: 365px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Custom software</span>
                        </span>
                        <button class="card-header-icon">
                            <a href="/stats.json">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-lg fa-download"></i>
                                </span>
                            </a>
                        </button>
                    </header>
                    <div class="card-content">
                        <div id="software" style="min-height: 454px;"></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Minecraft versions</span>
                        </span>
                        <button class="card-header-icon">
                            <a href="/stats.json">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-lg fa-download"></i>
                                </span>
                            </a>
                        </button>
                    </header>
                    <div class="card-content">
                        <div id="versions" style="min-height: 454px;"></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Forge mods</span>
                        </span>
                        <button class="card-header-icon">
                            <a href="/stats.json">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-lg fa-download"></i>
                                </span>
                            </a>
                        </button>
                    </header>
                    <div class="card-content">
                        <div id="mods" style="min-height: 454px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function get(arr, num) {
        let out = [];
        let stamp = Date.now() - (num - 1) * 3600000;
        if (arr.length < num)
            for (let i = 0; i < num - arr.length; i++) {
                out.push([stamp, 0]);
                stamp += 3600000;
            }
        
        for (let i = Math.max(arr.length - num, 0); i < arr.length; i++) {
            if (Array.isArray(arr[i])) out.push([stamp, arr[i][1]]);
            else out.push([stamp, arr[i]]);
            stamp += 3600000;
        }
        
        return out;
    }

    function getValues(dict, num) {
        let list = [];
        for (let i = 0; i < Math.min(dict.length, num); i++)
            list.push(dict[i][1]);

        return list;
    }
    
    function getLabels(dict, num) {
        let list = [];
        for (let i = 0; i < Math.min(dict.length, num); i++)
            list.push(dict[i][0]);
        
        return list;
    }

    let data = JSON.parse(@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonSerializer.Serialize(Stats), true)));
    new ApexCharts($("#general")[0], {
        series: [{
            name: 'All servers',
            data: get(data.TotalServers, 48)
        }, {
            name: 'Chat reporting',
            data: get(data.ChatReporting, 48)
        }, {
            name: 'Online mode',
            data: get(data.OnlineMode, 48)
        }, {
            name: 'Whitelisted',
            data: get(data.Whitelist, 48)
        }, {
            name: 'Anti-DDoS proxy',
            data: get(data.AntiDDoS, 48)
        }],
        animations: {
            enabled: false
        },
        chart: {
            foreColor: '#ccc',
            height: 350,
            type: 'area'
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'smooth'
        },
        xaxis: {
            type: 'datetime'
        },
        tooltip: {
            enabledOnSeries: false,
            theme: 'dark',
            x: {
                format: 'HH:mm'
            }
        }
    }).render();

    new ApexCharts($("#modding")[0], {
        series: [{
            name: 'All servers',
            data: get(data.TotalServers, 48)
        }, {
            name: 'Forge servers',
            data: get(data.ForgeServers, 48)
        }, {
            name: 'Custom software',
            data: get(data.CustomSoftware, 48)
        }],
        animations: {
            enabled: false
        },
        chart: {
            foreColor: '#ccc',
            height: 350,
            type: 'area'
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'smooth'
        },
        xaxis: {
            type: 'datetime'
        },
        tooltip: {
            enabledOnSeries: false,
            theme: 'dark',
            x: {
                format: 'HH:mm'
            }
        }
    }).render();

    new ApexCharts($("#software")[0], {
        series: getValues(data.SoftwarePopularity, 10),
        animations: {
            enabled: false
        },
        chart: {
            foreColor: '#ccc',
            width: '100%',
            type: 'pie',
        },
        dataLabels: {
            enabled: false
        },
        labels: getLabels(data.SoftwarePopularity, 10),
        tooltip: {
            theme: 'dark'
        }
    }).render();

    new ApexCharts($("#versions")[0], {
        series: getValues(data.VersionPopularity, 10),
        animations: {
            enabled: false
        },
        chart: {
            foreColor: '#ccc',
            width: '100%',
            type: 'pie',
        },
        dataLabels: {
            enabled: false
        },
        labels: getLabels(data.VersionPopularity, 10),
        tooltip: {
            theme: 'dark'
        }
    }).render();

    new ApexCharts($("#mods")[0], {
        series: getValues(data.ForgeModsPopularity, 10),
        animations: {
            enabled: false
        },
        chart: {
            foreColor: '#ccc',
            width: '100%',
            type: 'pie',
        },
        dataLabels: {
            enabled: false
        },
        labels: getLabels(data.ForgeModsPopularity, 10),
        tooltip: {
            theme: 'dark'
        }
    }).render();
</script>