@using System.Web
@{
    ViewData["Description"] = "Statistics";
    ViewData["Title"] = "Statistics";
}

<div class="section">
    <div class="content">
        <div class="card">
            <header class="card-header">
                <span class="card-header-title is-block">
                    <span class="is-size-4">General statistics</span>
                </span>
                <button class="card-header-icon">
                    <a href="/stats.json">
                        <span class="icon is-medium">
                            <i class="fa-solid fa-lg fa-download"></i>
                        </span>
                    </a>
                </button>
            </header>
            <div class="card-content">
                <div id="general"></div>
            </div>
        </div>

        <div class="card">
            <header class="card-header">
                <span class="card-header-title is-block">
                    <span class="is-size-4">Modding statistics</span>
                </span>
                <button class="card-header-icon">
                    <a href="/stats.json">
                        <span class="icon is-medium">
                            <i class="fa-solid fa-lg fa-download"></i>
                        </span>
                    </a>
                </button>
            </header>
            <div class="card-content">
                <div id="modding"></div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Custom software</span>
                        </span>
                        <button class="card-header-icon">
                            <a href="/stats.json">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-lg fa-download"></i>
                                </span>
                            </a>
                        </button>
                    </header>
                    <div class="card-content">
                        <div id="software"></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Minecraft versions</span>
                        </span>
                        <button class="card-header-icon">
                            <a href="/stats.json">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-lg fa-download"></i>
                                </span>
                            </a>
                        </button>
                    </header>
                    <div class="card-content">
                        <div id="versions"></div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Forge mods</span>
                        </span>
                        <button class="card-header-icon">
                            <a href="/stats.json">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-lg fa-download"></i>
                                </span>
                            </a>
                        </button>
                    </header>
                    <div class="card-content">
                        <div id="mods"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function get(arr, num) {
        let out = [];
        let stamp = Date.now() - (num - 1) * 3600000;
        if (arr.length < num)
            for (let i = 0; i < num - arr.length; i++) {
                out.push([stamp, 0]);
                stamp += 3600000;
            }
        
        for (let i = Math.max(arr.length - num, 0); i < arr.length; i++) {
            if (Array.isArray(arr[i])) out.push([stamp, arr[i][1]]);
            else out.push([stamp, arr[i]]);
            stamp += 3600000;
        }
        
        return out;
    }

    function getValues(dict) {
        let list = [];
        for (let i = 0; i < dict.length; i++)
            list.push(dict[i][1]);

        return list;
    }
    
    function getLabels(dict) {
        let list = [];
        for (let i = 0; i < dict.length; i++)
            list.push(dict[i][0]);
        
        return list;
    }

    let forgeMods = [@Html.Raw(string.Join(",", Stats.ForgeModsPopularity.Take(10).Select(x => $"[\"{HttpUtility.JavaScriptStringEncode(x.Key)}\",{x.Value}]")))];
    let software = [@Html.Raw(string.Join(",", Stats.SoftwarePopularity.Take(10).Select(x => $"[\"{HttpUtility.JavaScriptStringEncode(x.Key)}\",{x.Value}]")))];
    let versions = [@Html.Raw(string.Join(",", Stats.VersionPopularity.Take(10).Select(x => $"[\"{HttpUtility.JavaScriptStringEncode(x.Key)}\",{x.Value}]")))];
    let customSoftware = [@string.Join(",", Stats.CustomSoftware.Take(24))];
    let chatReporting = [@string.Join(",", Stats.ChatReporting.Take(24))];
    let totalServers = [@string.Join(",", Stats.TotalServers.Take(24))];
    let forgeServers = [@string.Join(",", Stats.ForgeServers.Take(24))];
    let antiDDoS = [@string.Join(",", Stats.AntiDDoS.Take(24))];
    
    new ApexCharts($("#general")[0], {
        series: [{
            name: 'All servers',
            data: get(totalServers, 24)
        }, {
            name: 'Chat reporting enabled',
            data: get(chatReporting, 24)
        }, {
            name: 'Anti-DDoS proxy',
            data: get(antiDDoS, 24)
        }],
        chart: {
            foreColor: '#ccc',
            height: 350,
            type: 'area'
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'smooth'
        },
        xaxis: {
            type: 'datetime'
        },
        tooltip: {
            enabledOnSeries: false,
            theme: 'dark',
            x: {
                format: 'HH:mm'
            }
        }
    }).render();

    new ApexCharts($("#modding")[0], {
        series: [{
            name: 'All servers',
            data: get(totalServers, 24)
        }, {
            name: 'Forge servers',
            data: get(forgeServers, 24)
        }, {
            name: 'Custom software',
            data: get(customSoftware, 24)
        }],
        chart: {
            foreColor: '#ccc',
            height: 350,
            type: 'area'
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'smooth'
        },
        xaxis: {
            type: 'datetime'
        },
        tooltip: {
            enabledOnSeries: false,
            theme: 'dark',
            x: {
                format: 'HH:mm'
            }
        }
    }).render();

    new ApexCharts($("#software")[0], {
        series: getValues(software),
        chart: {
            foreColor: '#ccc',
            width: '100%',
            type: 'pie',
        },
        labels: getLabels(software)
    }).render();

    new ApexCharts($("#versions")[0], {
        series: getValues(versions),
        chart: {
            foreColor: '#ccc',
            width: '100%',
            type: 'pie',
        },
        labels: getLabels(versions),
        tooltip: {
            theme: 'dark'
        }
    }).render();

    new ApexCharts($("#mods")[0], {
        series: getValues(forgeMods),
        chart: {
            foreColor: '#ccc',
            width: '100%',
            type: 'pie',
        },
        labels: getLabels(forgeMods),
        tooltip: {
            theme: 'dark'
        }
    }).render();
</script>