@model ErrorModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.WebUtilities
@{
    ViewData["Description"] ??= ReasonPhrases.GetReasonPhrase(Model.StatusCode);
    ViewData["Title"] ??= "Error";
    Layout = "Empty";
}

<section class="section login-container is-flex is-align-items-center is-justify-content-center">
    <div class="column is-full-mobile is-8-tablet is-5-desktop has-text-centered">
        <figure class="image is-inline-block">
            <a asp-controller="Home" asp-action="Index">
                <img src="/img/title.png" alt="Logo">
            </a>
        </figure>
        
        <div class="card mt-5">
            <div class="card-header">
                <span class="card-header-title is-block mt-2 mb-2">
                    <p class="title is-size-3">Someone cut the cable!</p>
                </span>
            </div>
            <div class="card-content p-0">
                <img src="https://http.cat/@Model.StatusCode" alt="HTTP cat">
            </div>
        </div>
    </div>
</section>