@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var account = await Context.GetAccount();
    Layout = "Empty";
}

<header class="header">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-4" asp-controller="Home" asp-action="Index">
                <img src="/img/title.png" alt="ServerOverflow"/>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navbar-item" asp-controller="Home" asp-action="FAQ">FAQ</a>
                <a class="navbar-item" href="https://stats.airblo.ws/public-dashboards/bb99e59c801d4e779fd9d2916883273d">Statistics</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Search</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" asp-controller="Search" asp-action="Accounts">Accounts</a>
                        <a class="navbar-item" asp-controller="Search" asp-action="Servers">Servers</a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                @if (account != null) {
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">@account.Username</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" asp-controller="User" asp-action="Profile">Profile</a>
                            <a class="navbar-item" asp-controller="User" asp-action="Manage">Manage</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" asp-controller="User" asp-action="Logout">Logout</a>
                        </div>
                    </div>
                } else {
                    <div class="navbar-item">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-info" asp-controller="User" asp-action="Register">Register</a>
                            </p>
                            <p class="control">
                                <a class="button is-success" asp-controller="User" asp-action="Login">Login</a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>

@RenderBody()