@{
    ViewData["Description"] = "Search accounts";
    ViewData["Title"] = "Accounts";

    // I don't expect to have a lot of accounts, so this will do
    var accounts = await Database.Accounts.QueryAll(x => true);
}

<div class="section">
    <div class="content">
        <h2>List of all accounts</h2>
        <div class="columns is-multiline">
            @foreach (var account in accounts) {
                var invitee = account.Invitee != null ? await Account.Get(account.Invitee!.ToString()!) : null;
                <div class="column is-one-third">
                    <div class="card">
                        <header class="card-header">
                            <span class="card-header-title is-block">
                                <div class="columns is-mobile">
                                    <div class="column is-narrow">
                                        <figure class="image is-96x96">
                                            <img class="is-server-icon" src="/img/user.png" alt="User Icon"/>
                                        </figure>
                                    </div>
                                    <div class="column rows">
                                        <div>
                                            <a class="is-size-3" href="/account/@account.Id">@account.Username</a>
                                            <span class="tag is-primary" style="transform: translate(2%, -30%)">@account.BadgeText</span>
                                        </div>
                                        @if (invitee == null) {
                                            <span>Invited by <obf>god himself</obf></span>
                                        } else {
                                            <span>Invited by <a href="/account/@invitee.Id">@invitee.Username</a></span>
                                        }
                                    </div>
                                </div>
                            </span>
                        </header>
                    </div>
                </div>
            }
        </div>
    </div>
</div>